html{
    min-height: 100svh;
    }

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image:url("https://raw.githubusercontent.com/kiovit/rock-paper/02f19d13019313f69bb089f5b07d57d9aa24e311/img/bkgnd.jpeg");
}

h1 {
    color: white;
    background-color: #00819f;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0;      
}

h2 {
    color: white;
    background-color: #00819f;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 0;      
}

div{
    display:flex;
    align-content: center;
    justify-content: space-around;
    }

.main{
    display: flex;
    align-content: center;
    height: 4rem;    
}

img{
    max-height: 4rem;
    margin-left: 2rem;
}

.button {
    background-color: #25D366; 
    border:none;
    border-radius: 1rem;
    max-height: 3rem;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;  
}

.divTwo{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 10rem;
    background-color: #00819f;
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 0; 
}

#result{
    color: white;    
    font-size: 1.5rem;
}

#result2{
    color: white;
}
